*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* section{
    width: 100%;
    height:auto;
} */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top:0;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1;
}

nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 5px 0;
}
.brand-logo{
    mix-blend-mode:hard-light;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    transition: 0.1s;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    /* background: rgb(230, 196, 165); */
    background: red;
    display: block;
    transition: 0.2s linear;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a:hover{
    /* color: rgb(230, 196, 165); */
    color: red;
}

nav .icon i{
    font-size: 20px;
    color: black;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s;
}
nav .icon i:hover{
    color: red;
}
/* home 1 vaneko hmoe 6 */
/* .content-item{
    display:flex;
    height:100vh;
    background-position:center;
    background-size:cover;
    width:100%;
    background-image:url(image/img3.jpg);
    align-items:flex-end;
} */

/* video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  } */
/* .content-item img{
    width: 100%;
    position: relative;
    background-size:cover ;
    background-position: center;
} */
/* .content-item img{

   opacity: 0.5
   ;
} */

/* home 1 */
.men_txt {
    margin-left:50px;
    margin-bottom:40px;
    font-size: 43px;
    /* top: 122%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 20px; */
}

.men_txt h2 span{
    margin-left: 15px;
    color: red;
    font-family: mv boli;
    line-height: 22px;
    font-size: 90px;
}
button{
    width:140px;
    padding: 15px 0px;
    text-align: center;
    margin: 20px 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

button:hover{
    background-color:lightpink;

}

/* home 2 */

.main{
    margin-top: 50px;
    display: flex;
    align-items: center;
    height: 100vh;
}
.main .text{
    padding: 90px;
    max-width:800px;
    
}
.main .text h1{
    text-align: center;
    font-family: bell mt;
    font-weight: 300;
    font-style: italic;
    font-size: 50px;
    margin-bottom: 7px;

}
.main .text p{
    
    text-align: center;
    font-weight: 100;
    padding: 8px;
    letter-spacing:1.5px;
}
#h-order{
    width:max-content;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #e44d26;
    color: #fff;
    border: none;
    padding:5px;
    border-radius: 10px;
    cursor: pointer;
}

#h-order:hover{
    background-color:red;
}

  
.popup .overlay {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:rgba(0,0,0,0.7);
    z-index: 1 ;
    display: none;
}
  
.popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0);
    background-color: #f5d4dc;
    padding: 20px;
    width: 450px;
    height: auto;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
    border-radius: 45px;
}
  
.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
} 
.popup.active .overlay{
    display: block;
}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%)scale(1);
}


.abc{
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

ol {
    list-style: upper-roman;
    padding-left: 25px;
}

li {
    font-size: 13px;
    margin-bottom: 10px;
}

.main .main_img img{
    width: 350px;
    height: 450px;
    border-radius:1%;
    margin-right: 20px;
    left: 70px;
}
/* home 3 */
.wedding-collection {
    text-align: center;
    background-color:rgb(205, 141, 150);
    padding: 30px;
}
.wedding-collection h2{
    padding: 25px;
    color: #fff;
    font-family: bell mt;
    font-weight: 600;
    font-style: italic;
    font-size: 40px;

}
.wedding-collection p{
    text-align: center;
    color: whitesmoke;
    font-weight: 100;
    font-size: 18px;
}
#order-now {
    margin-top: 20px;
    text-decoration: none;
    background-color: #e44d26;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
#order-now:hover{
    background-color:lightpink;

}

.cake-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.cake-item {
    padding: 18px;
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    position: relative;
}

.cake-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.cake-description {
  
    bottom: 0;
    left: 0;
    right: 0;
}

.cake-description h6{
    color:whitesmoke;
    font-size: 16px;
    font-style: italic;
}

.cake-description p{
    font-size: 12px;
   
}

.love-icon {
    font-size: 24px;
    color: #e44d26;
    margin-right: 5px;
    font-style: normal;
}
#view-all{
    margin-top: 18px;
    border:1px solid white;
    border-radius: 25px;
    color: palevioletred;
    background-color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 100;
    padding: 10px 20px;
    cursor: pointer;
}
#view-all:hover{
    padding:11px;
}



/* home 4 */
.about-us{
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 100vh;
}
.about-us-img img{
    width:445px;
    height: 450px;
    border-radius:24px;
    margin-left: 70px;
}
.about-us-text{
    margin-left: 20px;
    padding: 70px;
    display: flex;
    flex-direction: column;
    max-width:800px;
}
.about-us-text h1{
    text-align: center;
    font-family: bell mt;
    font-weight: 300;
    font-style: italic;
    font-size: 50px;

}
.about-us-text p{
    text-align:justify;
    font-weight: 100;
    padding: 8px;
    letter-spacing:1.25px;
}
#abt-link{
    align-self:center;
    margin-top:30px;
    text-align:center;
    text-decoration: none;
    background-color: #e44d26;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* home 5 */

.im-container{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.im{
    background: 0.2;
    width: 350px;
    height: auto;
    background-color: rgba(211, 211, 211, 0.4);
    border: 10px;
}
 .im1{
    padding: 18px;
    /* top: 50;
    left: 50; */
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin: 10px;
    position: relative;
}
.im-container .im img{
    height: 350px;
    border-radius: 100px;
}
.im-container .im h5{
    margin-top: 12px;
    text-align: center;
    font-family: bell mt;
    font-style: italic;
    font-size: 25px;
    font-weight: 100;
}
.im-container .im p{
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    font-weight: 150;
    letter-spacing:1.2px;
}

/* home 6 lai mathi rakheko cha  */
.slide {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: auto;
    height: 700px;
    margin: 0 auto; 
    position: relative;
    background-image: url(image/txt1.jpg);
    background-size: cover; 
    box-shadow: 1px 2px 10px 5px grey;
    animation: slider 30s infinite linear;
}
@keyframes slider{
    0%{background-image: url(image/txt1.jpg);}
    14%{background-image: url(image/txt2.jpg);}
    28%{background-image: url(image/txt3.jpg);}
    42%{background-image: url(image/txt4.jpg);}
    56%{background-image: url(image/txt5.jpg);}
    70%{background-image: url(image/txt6.jpg);}
    84%{background-image: url(image/txt7.jpg);}
}
/* email */
.email{
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    justify-content:center;
    margin-bottom: 40px;
}
.em h3{
    text-align: center;
    font-family: bell mt;
    font-weight: 200;
    font-style: italic;
    font-size: 30px;
}
.em p{
    text-align:center;
    font-weight: 100;
    padding: 8px;
    letter-spacing:1.15px;
}
.box {
    justify-content: end;
    margin-left: 99px;
    margin-bottom: 29px;
}

.form-box{
    padding: 5px;
    border-radius: 25px;
    background: #ececec;

}

.form-box input {
  font-size: 15px;
  color: #000;
  padding: 15px 10px;
  border: none;
  outline: none;
  background: #ececec;

}

.form-box button {
    background-color:rgb(221, 108, 108);
    color: #fff;
    padding: 15px 20px;
    font-size: 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: .7s;
}

.form-box button:hover{
   background: #e44d26;
}



/* footer */
.copy{
    text-align: center;
    background-color:rgba(255, 0, 0, 0.4);
    justify-content: end;
    color: whitesmoke;
    font-size: small;
}
.footer1 {
    background-color: rgba(255, 0, 0, 0.4);
    color: #fff;
    padding: 30px;
    justify-content: space-around;
    display: flex;
    gap:40px;
    
}
.footer h3{
    font-size: 20px;
}
.social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    display: block;
    text-align: center;
}

.shree-i a{
    text-decoration: none;
    color: white;
    display:block;
    padding: 12px;
    text-align: center;
}

.cont p{

    align-items:start;
    padding: 12px;
    display: flex;
    gap: 10px;
}
